  <% require 'pg' %>

  <% db_name = 'goya' %>
  <% connection = PG::connect(dbname: db_name) %>
  <% connection.internal_encoding = 'UTF-8' %>

  <% sql = 'select date, weight, give_for from crops;' %>
  <% result = connection.exec(sql) %>
  <% date = [] %>

  <% result.each do |record| %>
    <% date << "ゴーヤの大きさ : #{record['weight']} 売った相手 : #{record['give_for']}" %>
  <% end %>

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Web Server test</title>
</head>
<body>
  <h1>テスト!!!!!!!!!!!!!</h1>

  <form action="indicate.cgi" method="POST">
    <p>ボタンを押すと、譲渡先が自家消費ではないもののゴーヤの情報ページへ飛びます</p>
    <p><input type="text" name="input" value="<%= '譲渡先が自家消費ではないもの' %>"></p>
    <p><input type="submit" value="送信"></p>
    <br>
  </form>

  <form action="goya.cgi" method="POST">
    <p>ボタンを押すと、品質が悪いもののゴーヤの情報ページへ飛びます</p>
    <p><input type="text" name="goya" value="<%= 品質が悪いもの %>">
    <p><input type="submit" value="送信"></p>
  </form>
</body>
</html>
